{% extends "base.html" %} {% load static %} {% block content %}
<head>
  <title>Avaleht</title>
  <link rel="stylesheet" href="{% static 'pages/css/style.css' %}" />
</head>
<body class="content">
  <div class="search">
    Otsi osaühingut
    <form action="{% url 'search_results' %}" method="get">
      <input name="q" type="text" placeholder="Otsi..." />
    </form>
  </div>
  <ul>
    {% for andmed in osauhinguandmedmodel_list %}
    <li>
      <div
        class="selective"
        onclick="location.href='{% url 'profile' registrikood=andmed.registrikood%}'"
      >
        <p class="selectedLink">Osaühing: {{ andmed.nimi }}</p>
        <p>Registrikood: {{andmed.registrikood}}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</body>
{% endblock content %}
