{% extends "base.html" %} {% load static %} {% block content %}
<head>
  <title>Asutamisvorm</title>
  <link rel="stylesheet" href="{% static 'pages/css/style.css' %}" />
</head>
<body class="content">
  <p>Asutamise kuupäev märkida formaadis AASTA-KUU-PÄEV</p>
  <p>Näide: 21. juuni 2010 oleks 2010-06-21</p>
  <form id="form-container" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    {{ formset.management_form }} {% for f in formset %}
    <div class="osalus-form">{{f.as_p}}</div>
    {%endfor%}
    <button id="add-form" type="button">Lisa osanik</button>
    <input type="submit" value="Salvesta" />
  </form>
</body>

<script>
  let osalusForm = document.querySelectorAll(".osalus-form");
  let container = document.querySelector("#form-container");
  let addButton = document.querySelector("#add-form");
  let totalForms = document.querySelector("#id_form-TOTAL_FORMS");

  let formNum = osalusForm.length - 1;
  addButton.addEventListener("click", addForm);

  function addForm(e) {
    e.preventDefault();

    let newForm = osalusForm[0].cloneNode(true);
    let formRegex = RegExp(`form-(\\d){1}-`, "g");

    formNum++;
    newForm.innerHTML = newForm.innerHTML.replace(
      formRegex,
      `form-${formNum}-`
    );
    container.insertBefore(newForm, addButton);

    totalForms.setAttribute("value", `${formNum + 1}`);
  }
</script>
{% endblock content %}
